@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Playfair+Display");
}
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
