<template>
  <div class="home">
    <div class="row">
      <div class="col-md-12 thisisIt">

      </div>
    </div>
    <div class="row p-0">
      <div class="col-md-2 col-sm-12 pr-0 mr-0">
        <div id="blocks"></div>
      </div>
      <div class="col-md-10 col-sm-12 pl-1 ml-0 pr-0 mr-0">
        <div id="gjs" style="height:0px; overflow:hidden"/>
      </div>
    <div class="col-md-2 col-sm-12 pl-1 ml-0">
      <div class="panel__right">
        <div class="layers-container"></div>
        <div class="styles-container"></div>
      </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./Home.component.ts"/>
<style>

body{
  overflow: hidden;
}
#gjs {
  border: 3px solid #444;
}
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/fa-solid-900.eot);
  src: url(../fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'), url(../fonts/fa-solid-900.woff2) format('woff2'),
  url(../fonts/fa-solid-900.svg#fontawesome) format('svg');
}
/* Reset some default styling */
.gjs-block {
  width: 100%!important;
  height: auto;
  min-height: auto;
}
.gjs-blocks-no-cat{
  max-height: 100vh;
  overflow-y: auto;
}
/*.panel__devices {
  position: initial;
}
.gjs-cv-canvas
{
  width: 100%!important;
}
.gjs-block-section{
  padding: 0;
  margin: 0;
}
.block-title{
  margin-top: 2%;
}
#wrapper {
  adding-left: 5%!important;
  padding-right: 5%!important;
  background-color: #cccccc!important;
}

.gjs-cv-canvas { width: 100%!important; height: 100%!important;  }*/

.gjs-pn-buttons {
  display: block!important;
}
.gjs-block-categories, .gjs-clm-tags{
  display: none!important;
}
.defaultPadding {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.image_container{
  background-color: greenyellow!important;
}
.gjs-sm-title[data-toggle="collapse"]:after
{
  font-family: 'FontAwesome';
  content: "\f0d7"; /* "play" icon */
  float: left;
  color: #ddd;
  font-size: 13px;
  margin-right: 3px;
  line-height: 15px;

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(0deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(0deg);
  -o-transform:      rotate(0deg);
  transform:         rotate(0deg);
}
.gjs-sm-title[data-toggle="collapse"].collapsed:after
{
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}

</style>
