<template>
  <div class="home">
    asddsa
  </div>
</template>
<script lang="ts" src="./test.component.ts"/>
<style>

body{
  overflow: hidden;
}
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-block {
  width: 100%!important;
  height: auto;
  min-height: auto;
}
.gjs-blocks-no-cat{
  max-height: 100vh;
  overflow-y: auto;
}
/*.panel__devices {
  position: initial;
}
.gjs-cv-canvas
{
  width: 100%!important;
}
.gjs-block-section{
  padding: 0;
  margin: 0;
}
.block-title{
  margin-top: 2%;
}
#wrapper {
  adding-left: 5%!important;
  padding-right: 5%!important;
  background-color: #cccccc!important;
}

.gjs-cv-canvas { width: 100%!important; height: 100%!important;  }*/

.gjs-pn-buttons {
  display: block!important;
}
.gjs-block-categories{
  display: none!important;
}
.defaultPadding {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.image_container{
  background-color: greenyellow!important;
}
</style>
